jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: ${{ secrets.DOCKER_USER }}/proyecto-cicd:latest

    steps:
      # Clonar repositorio
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      # Configurar Node.js
      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      # Instalar dependencias en ./app
      - name: Instalar dependencias
        working-directory: ./app
        run: npm ci

      #  Ejecutar pruebas unitarias
      - name: Ejecutar pruebas unitarias
        working-directory: ./app
        run: npm test

      # Login a Docker Hub
      - name: Login a Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      # Construir y publicar imagen Docker
      - name: Construir y publicar imagen Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.DOCKER_IMAGE }}

      # Healthcheck del contenedor
      - name: Healthcheck del contenedor
        run: |
          docker run -d -p 3000:3000 --name test-container ${{ env.DOCKER_IMAGE }}
          sleep 10
          STATUS=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:3000/health)
          if [ $STATUS -ne 200 ]; then
            echo "Healthcheck falló"
            docker logs test-container
            exit 1
          fi
          docker stop test-container && docker rm test-container

      # Validar métricas de disponibilidad (SLI)
      - name: Validar métricas de disponibilidad (SLI)
        run: |
          docker run -d -p 3000:3000 --name metrics-container ${{ env.DOCKER_IMAGE }}
          sleep 10
          METRICS=$(curl -s http://localhost:3000/metrics | grep http_requests_success_total)
          echo "Métricas de SLI: $METRICS"
          docker stop metrics-container && docker rm metrics-container
